h1 {
	font-family: 'Varela Round', sans-serif;
	color: white
}

p {
	font-family: 'Varela Round', sans-serif;
}
th, td {
  padding-top: 10px;
  padding-bottom: 0px;
  padding-left: 10px;
  padding-right: 10px;
}
textarea {
	font-family:"Varela Round";  
}
body {
	margin: 0
}
